﻿@{
    ViewData["Title"] = "WorldCover test API";
}

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<h2>Welcome to the WorldCover (test) API!</h2>

<p>There are essentially two APIs here- one for 'end-users' (via Africa's Talking) and one for WC admins. Both authenticate the same way in this example, which you can see below in the Postman screenshots.</p>
<p>Let's start with the Africa's Talking calls:</p>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    TYPE
                </th>
                <th>
                    PATH
                </th>
                <th>
                    PARAMETERS
                </th>
                <th>
                    NOTES
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    POST
                </td>
                <td>
                    /ussd/authenticate
                </td>
                <td>
                    JSON object containing 'phoneNumber' property of associated customer
                </td>
                <td>
                    Can be called from anonymous source (doesn't require 'Authorization' header). Returns entire customer properties if successful.
                </td>
            </tr>
            <tr>
                <td>
                    GET
                </td>
                <td>
                    /ussd/myinfo
                </td>
                <td>
                    none 
                </td>
                <td>
                    Requires 'Authorization' header, with the phone number of the customer to authenticate as the first (or username) parameter. Returns logged in customer's properties if succesful.
                </td>
            </tr>
        </tbody>
    </table>
</div>

<p>Thoughts: the authenticate method would open the internal session with the USSD Service (nothing done with the 'text' property or session). I redesigned the '/customers/10' idea from the interview doc and turned it into /ussd/myinfo, where it now retrieves the authenticated user's info. The /customers/{id} call still exists for the WC admin.</p>
<br />
<br />


<p>On to the WC admin API:</p>
<div>
    <table>
        <thead>
            <tr>
                <th>
                    TYPE
                </th>
                <th>
                    PATH
                </th>
                <th>
                    PARAMETERS
                </th>
                <th>
                    NOTES
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    GET
                </td>
                <td>
                    /customers
                </td>
                <td>
                    none
                </td>
                <td>
                    Requires 'Authorization' header, with the phone number of the admin (+1) to authenticate as the first (or username) parameter. Returns all customers in the system and their properties.
                </td>
            </tr>
            <tr>
                <td>
                    GET
                </td>
                <td>
                    /customers/{id}
                </td>
                <td>
                    id: int representing a specific customer's id
                </td>
                <td>
                    Requires 'Authorization' header, with the phone number of the admin (+1) to authenticate as the first (or username) parameter. Returns associated customer and its properties.
                </td>
            </tr>
            <tr>
                <td>
                    POST
                </td>
                <td>
                    /customers/add
                </td>
                <td>
                    JSON object containing 'name', 'village', 'registrationDate', 'phoneNumber' of customer to add
                </td>
                <td>
                    Requires 'Authorization' header, with the phone number of the admin (+1) to authenticate as the first (or username) parameter. Returns new customer with proper id and its properties. Note: this is just stored in runtime memory as there is no DB in this implementation.
                </td>
            </tr>
        </tbody>
    </table>
</div>

<p>Thoughts: although this also uses the same 'basic' auth type as the USSD API, it requires the user to be an 'admin' (which once you look at the code, you will see they just need 'admin' in their name for this to be true). I was trying to keep it simple while proving the point of the role based authorization, as the standard (USSD end-user) doesn't have access to the wcadmin/{method} calls. See the [Authorize] and [Authorize(Policy = "Admin")] on the two controllers, and their underlying implementations in AuthHelpers.cs.</p>
<p>I have provided some in memory customers to play around with, along with some Postman details on how to run:</p>
<img src="~/images/postman.png" />